<header>
    <nav class="nav-container">
        <div class="nav-left">
            <a href="/home/home.html" class="logo">MAFI4</a>
        </div>
        <div class="nav-center">
            <ul class="center-menu">
                <li><a href="/board/board.html">게시판</a></li>
                <li><a href="#">랭킹</a></li>
                <li><a href="#">상점</a></li>
                <li><a href="#">가이드</a></li>
            </ul>
        </div>
        <div class="nav-right">
            <div id="authButtons">
                <a href="/login/login.html" class="btn btn-ghost">로그인</a>
                <a href="/signup/signup.html" class="btn btn-primary">회원가입</a>
            </div>
        </div>
    </nav>
</header>