<link
    href="https://fonts.googleapis.com/css2?family=42dot+Sans:wght@300..800&family=Black+Han+Sans&family=Gowun+Dodum&display=swap"
    rel="stylesheet">
<header>
    <nav class="nav-container">
        <div class="nav-left">
            <a href="/home/home.html" class="logo">MAFI4</a>
        </div>
        <div class="nav-center">
            <ul class="center-menu">
                <li><a href="/board/board.html">게시판</a></li>
                <li><a href="/ranking/ranking.html">랭킹</a></li>
                <li><a href="/shop/shop.html">상점</a></li>
                <li><a href="/guide/guide.html">가이드</a></li>
            </ul>
        </div>
        <div class="nav-right">
            <div id="authButtons">
                <a href="/login/login.html" class="btn btn-ghost">로그인</a>
                <a href="/signup/signup.html" class="btn btn-primary">회원가입</a>
            </div>
        </div>
    </nav>
</header>